.gameplay-container {
    background: #FFFFFF;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

.spacer {
	flex: 0.5 1 auto;
}

.gameplay {
	height: 100vh;
	width: 100%;
}

.gameplay-question-answers {
    background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 50%;
	text-align: center;
	float: left;
	margin: 0px 0px 0px 8%;
}

.timer {
	margin: 8% 5% 0px 5%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	float: left;
	background-color: #864cbf;
	text-align: center;
}

#timer-count, #points-count {
	margin: 35% 0px 0px 0px;
	font-family: 'Alata';
	font-size: 30px;
	color: white;
}

.points {
	margin: 8% 0px 0px 10%;
	height: 100px;
    width: 100px;
	float: left;
	background-color: #1368ce;
	text-align: center;
}

#next-button{
	margin: 0px 0px 0px 2%;
}

.answer1 {
    background-color: #e21b3c;
}
.answer2 {
    background-color: #1368ce;
}

.answer3 {
    background-color: #d89e00;
}

.answer4 {
    background-color: #298f0d;
}

.answers {
	text-align: center;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
    border-bottom: 50px solid #FFFFFF;
}
.diamond {
    height: 50px;
    width: 50px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
}

.circle {
    height: 50px;
    width: 50px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.square {
    height: 50px;
    width: 50px;
    background-color: #FFFFFF;
}
.answer_body {
    margin: 0px 0px 0px 50px;
    font-size: 18px;
	color: #FFFFFF;
	font-family: 'Alata';
}

