<div class="options bg-light p-3">
  <div class="d-flex align-items-center px-1 py-2">
    <app-item-toggler (onToggleChange)="onQuestionOptionsTypeChange($event)"></app-item-toggler>
    <div (click)="handleAddNewQuestionOption()" class="mx-3"><button
        class="btn btn-sm active text-light d-flex align-items-center">
        <mat-icon>add</mat-icon> <span>New Option</span>
      </button></div>
  </div>
  <div *ngIf="questionOptions">
    <div class="choice me-3" *ngFor="let questionOption of questionOptions.optionList">
      <app-new-option [questionOption]="questionOption" [questionId]="questionId" [questionType]="questionOptions.type"
        (updateOptionText)="addOrUpdateOptionTextInOptionsList($event)"
        (updateOptionImage)="addOrUpdateOptionImageInOptionsList($event)"
        (updateOptionStatus)="addOrUpdateOptionStatusInOptionsList($event)">
      </app-new-option>
    </div>
  </div>
</div>
