<div *ngIf="questionOption">
  <div *ngIf="questionType === 'text'; else optionsTypeImage" class="d-flex align-items-center">
    <mat-form-field class="answers" appearance="outline">
      <input matInput [(ngModel)]="questionOption.optionText" (ngModelChange)="onOptionTextValueChange($event)"
        type="text" name="option{{questionOption.id}}" id="{{questionOption.id}}" placeholder="question option"
        required>
    </mat-form-field>
    <mat-radio-button color="primary" class="radio-button ms-1" name="optionStatus{{questionOption.id}}"
      (change)="onOptionStatusValueChange()" value="{{questionOption.id}}"></mat-radio-button>
  </div>

  <ng-template #optionsTypeImage>
    <div class="d-flex align-items-center">
      <div class="image-preview-container">
        <img id="img-preview" class="question-image" />
      </div>
      <div>
        <input style="display: none;" value="image url here" type="file" id="image-upload" name="image" />
        <button class="btn-sm" name="image" mat-stroked-button color="primary">Upload
          Image</button>
      </div>
    </div>
  </ng-template>
</div>
