* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	min-height: 100vh;
	padding: 40px;
	display: flex;
  	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: hsl(220, 10%, 12%);
	font-family: "Lato", "Segoe Ui", sans-serif;
	justify-content: center;
}