* {
	box-sizing: border-box;
}

.form-container {
	margin: 20px 50px;
}

.question_field {
	width: 100%;
}

.question_field mat-form-field {
	width: 100%;
}

.timer-slider-container {
	display: flex;
	justify-content: start;
	align-items: flex-start;
}

.timer{
	width: 40%;
	padding: 0px;
}

.timer mat-form-field {
	width: 100%;
}

.mat-form-field-wrapper{
	padding-bottom: 0;
}

.slider {
	width: 40%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.slider mat-slider {
	width: 250px;
}

.question-image{
	width: 20%;
}

.options{
	display: grid; 
	grid-template-columns: repeat(2, 1fr);
}

.options mat-form-field {
	width: 90%;
}

.choice{
	display: flex;
	align-items: center;
}

.choice mat-radio-button {
	margin-bottom: 15px;
	margin-left: 5px;
}

.add-question-btn {
	width: 100%;
}

.mat-tab-body-content {
	height: 100%;
	overflow: hidden;
}

.buttons {
	text-align: center;
}

.buttons button{
	margin: 0 20px;
}

.panelColorChange {
	color: #ffffff;
} 

.button-icons {
	height: 40px;
}
.button-back {
	margin-right: 50%;
}
.button-forward {
	margin-left: 50%;
}
.mat-raised-button.mat-dark {
  color: #fff;
  background-color: #092834;
}