.toggler {
  border: 1px solid #d1d1d1;
  width: 82px;
}

.toggler-item {
  background-color: #f1f1f1;
}

.toggler-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px !important;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 0% !important;
  color: #3c3c3d;
}
