<div class="type-toggler">
  <ul class="nav nav-pills toggler">
    <li class="toggler-item">
      <button (click)="handleTogglerOnChange('text')" class="toggler-button nav-link px-0"
        [ngClass]="{'active' : activeItem === 'text'}" mat-button data-bs-toggle="pill">
        <mat-icon>text_fields</mat-icon>
      </button>
    </li>
    <li class="toggler-item">
      <button (click)="handleTogglerOnChange('image')" class="toggler-button nav-link px-0"
        [ngClass]="{'active' : activeItem === 'image'}" mat-button data-bs-toggle="pill">
        <mat-icon>image</mat-icon>
      </button>
    </li>
  </ul>
</div>
