<div class="mx-5">
  <div *ngIf="!isQuestionPageVisible">
    <h1>Create New Quiz</h1>
    <form [formGroup]="quizForm" (ngSubmit)="handleNext()">
      <mat-form-field appearance="outline">
        <mat-label>Quiz Name</mat-label>
        <input formControlName="quizName" matInput name="quiz_name" required>
      </mat-form-field>
      <mat-form-field class="quiz-description" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea formControlName="quizDescription" matInput placeholder="optional"></textarea>
      </mat-form-field>
      <div class="my-3">
        <button (click)="handleNext()" mat-raised-button color="primary" class="px-5">Next</button>
      </div>
    </form>
  </div>

  <!-- Adding Questions -->
  <div *ngIf="isQuestionPageVisible">
    <h1>Create Questions</h1>
    <div *ngIf="quizData">
      <app-questions *ngFor="let question of quizData.questions; let i = index" [question]="question"
        [questionNumber]="i + 1">
      </app-questions>
      <div class="d-flex justify-content-end py-2">
        <button (click)="handleAddNewQuestion()" class="btn btn-sm active text-light d-flex align-items-center">
          <mat-icon>add</mat-icon> <span>New Question</span>
        </button>
      </div>
    </div>
  </div>
</div>












<!-- <form>
  <mat-form-field appearance="outline">
    <mat-label>Quiz Name</mat-label>
    <input matInput [(ngModel)]="quiz.quiz_name" name="quiz_name" required>
  </mat-form-field>
  <div>
    <button mat-raised-button matStepperNext>Next</button>
  </div>
</form> -->

<!-- (click)="createQuiz()" -->
