
    <div class="home">
        <div class="container">
            <!-- <img src="../../../assets/olav-ahrens-rotne-MAEbdaFe4ps-unsplash.jpg" alt=""> -->
            <h1 class="hello">Hello!</h1>
            <h1 class="welcome">Welcome</h1>
            <h4 class="name">{{ name }}</h4>
        </div>
    </div>

    <!-- <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/teeth4.jpg" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/olav-ahrens-rotne-MAEbdaFe4ps-unsplash.jpg'" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/qwe.jpeg" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>
 -->
