.home {
    background-image: url('../../../assets/olav-ahrens-rotne-MAEbdaFe4ps-unsplash.jpg') !important;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: antiquewhite;
    text-align: center;
  }

.hello {
  padding-top: 50px;
  font-size: 50px;
}

.welcome {
  padding-top: 30px;
  font-size: 70px;
}

.name {
  padding-top: 30px;
}