
              <form class="form-container">
                    <div class="question_field" >
                        <p>Question {{ data["question_body"] }}</p>
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Click here to start typing your question</mat-label>
                            <input matInput name="question_body" type="text" id="question-input" [(ngModel)] = "data.question_body"  required/>
                        </mat-form-field>
                    </div>
                    <!-- time -->
                    <div class="timer-slider-container">
                        <div class="timer">
                            <mat-form-field appearance="outline">
                                <mat-label>Timer</mat-label>
                                <mat-select [(ngModel)]="question.timers" name="timers_{{i}}">
                                    <mat-option *ngFor="let timer of timers" [value]="timer.value">
                                    {{timer.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- slider -->
                        <div class="slider">
                        <div><mat-slider color="primary" class="mat-slider" [(ngModel)]="question.points" type="range" step="500" min="500" max="2000" name="points_{{i}}"></mat-slider></div>
                            <div>{{question.points}} pts</div>
                        </div>
                        <!-- question image -->
                        <!-- <div class="file-upload-container"> -->
                        <!-- <div class="question-image"> -->
                            <!-- <input style="display: none;" [(ngModel)]="question.image" type="file" (change)="onFileSelected($event)" #fileInput id="image-upload" name="image"/> -->
                            <button class="upload-button" name="image" mat-raised-button  color="primary">Upload Image</button>
                            
                            <mat-card class="example-card">
                                <mat-card-header>
                                  <img [src]="imageUrl" id="img-preview" class="question-image" />

                                </mat-card-header>
                                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                              </mat-card>
                        
                        <!-- </div> -->
                    <!-- </div>  -->
                </div>
                <div class="option" >
                    <div *ngFor="let answer of question.answer; let j = index" class="choice">
                        <mat-form-field class="answers" appearance="outline">
                            <input matInput type="text" name="answer" id="answers" placeholder="Answer {{j + 1}}" [(ngModel)] = "answer.answer_body" required>
                        </mat-form-field>
                        <mat-radio-button color="primary" (click)="Answer(j)" [(ngModel)] = "answer.is_correct" name="validAnswer" class="radio-button"></mat-radio-button>
    
                    </div>
                    <!-- <mat-form-field class="answers" appearance="outline">
                        <input matInput type="text" name="answer" id="answers" placeholder="Answer" [(ngModel)] = "data.answer[0].answer_body" required>
                    </mat-form-field>
                    <mat-radio-button color="primary" [(ngModel)] = "data.answer[0].is_correct" name="validAnswer" class="radio-button"></mat-radio-button>

               
                    <mat-form-field class="answers" appearance="outline">
                         <input matInput type="text" name="answer" id="answers" placeholder="Answer" [(ngModel)] = "data.answer[1].answer_body" required>
                    </mat-form-field>
                    <mat-radio-button color="primary" name="validAnswer" class="radio-button"></mat-radio-button>    
               
                <mat-form-field class="answers" appearance="outline">
                    <input matInput type="text" name="answer" id="answers" placeholder="Answer" required>
                </mat-form-field>
                <mat-radio-button color="primary" name="validAnswer" class="radio-button"></mat-radio-button>
               
                    <mat-form-field class="answers" appearance="outline">
                        <input matInput type="text" name="answer" id="answers" placeholder="Answer" required>
                    </mat-form-field>
                    <mat-radio-button color="primary" name="validAnswer" yclass="radio-button"></mat-radio-button> -->
            </div> 

                </form>     
                <div mat-dialog-actions class="finish">
                    <!-- <button mat-button (click)="save()" cdkFocusInitial>Done</button> -->
                    <main id="edit-button-holder">
                        <button mat-raised-button (click)="onNoClick()">Cancel</button>
                        <button mat-raised-button id="edit-button" (click)="openModal()">Done</button>
                    </main>
                  </div>  

    














































               

               <!-- <form class="form-container">
                <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Click here to start typing your question</mat-label>
                            <input matInput [(ngModel)]="question.question_body" name="question_body" type="text" id="question-input" required/>
                        </mat-form-field>
                    
                        <table class="form-table-container" cellspacing = "0">
                            <tr>
                                <td>
                                    <div class="question-timer-slider">
                                        <div class="timer">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Timer</mat-label>
                                                    <mat-select name="timer" [(ngModel)]="question.timer">
                                                        <mat-option *ngFor="let timer of timers" [value]="timer.value">
                                                        {{timer.value}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                        </div>
                    
                                        <div class="slider">
                                            <mat-slider [(ngModel)]="question.points" color="primary" class="mat-slider" type="range" step="500" min="500" max="2000" name="points"></mat-slider>
                                           
                                        </div>  
            
                                    </div>
                                </td>
                    
                                <td>
                                    <div class="question-image">
                                        <button id="image-upload" mat-raised-button>Upload Image</button>
                                    </div>
                                </td>
                            </tr>
                    
                            <tr>
                                <td *ngFor="let answer of question.answer; let j = index">
                                    <mat-form-field  class="answers" appearance="outline">
                                        <input matInput [(ngModel)]="answer.answer_body" type="text" name="answer{{j + 1}}" id="answers" placeholder="Answer {{j + 1}}" required>
                                    </mat-form-field>
                                    <mat-radio-button color="primary" name="validAnswer" class="radio-button" [(ngModel)]="answer.is_correct"></mat-radio-button>
                                </td>
                    
                            </tr>
                    
                        </table>
                        </form>
                        <div mat-dialog-actions>
                            <button mat-button (click)="onNoClick()">Cancel</button>
                            <button mat-button  (click)="save" cdkFocusInitial>Done</button>
                          </div> -->