<div class="d-flex justify-content-between align-items-center border-bottom px-2 py-2">
  <div class="tahoot">Tahoot</div>
  <div>
    <button class="user-profile" [matMenuTriggerFor]="belowMenu">
      <i class="fas fa-user fa-1g"></i>
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <mat-list>
        host name here
        <!-- <mat-list-item>{{host.host_name}}</mat-list-item> -->
      </mat-list>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</div>

<!-- (click)="signOut()" -->
<!-- (click)="slideTrigger()" -->
<!-- (click)="snav.toggle()" -->
