<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
</head>

<mat-card class="answer-card" *ngIf="correctCard">
    <mat-card-header class="gamer-name">
        <span>Kay</span>
    </mat-card-header>

    <mat-card-content>
        <span id="answer-feedback">
            Correct
        </span>

        <div class="correct">
            <i class="fas fa-check fa-8x"></i>
        </div>

        <mat-card-header style="width: 150px;" class="points">
            <span id="points-value">
                + 1000
            </span>
        </mat-card-header>

        <mat-card-header class="total-score">
            <span id="total-score">Total Score</span>
            <span id="total-score-point">1000</span>
        </mat-card-header>

    </mat-card-content>

   
</mat-card>

<mat-card class="answer-card" style="background-color: #E71749;" *ngIf="wrongCard">
    <mat-card-header class="gamer-name" style="background-color: #C40D3B;">
        <span>Kay</span>
    </mat-card-header>

    <mat-card-content style="margin: 10% auto;">
        <span id="answer-feedback">
            Wrong
        </span>

        <div class="wrong">
            <i class="fas fa-times fa-8x"></i>
        </div>

        <mat-card-header style="width: 150px; background-color: #C40D3B;" class="points">
            <span id="points-value">
                - 1000
            </span>
        </mat-card-header>

        <div class="valid-answer">
            <div>
                <span>Correct Answer</span>
            </div>
            
            <div style="margin: 5% 0px 0px 0px;">
                <span>11</span>
            </div>
        </div>

        <mat-card-header class="total-score" style="margin: 5% 0px 0px 0px; background-color: #C40D3B;">
            <span id="total-score">Total Score</span>
            <span id="total-score-point">0</span>
        </mat-card-header>

    </mat-card-content>

   
</mat-card>

<mat-card class="answer-card" style="background-color: #E71749;" *ngIf="timeoutCard">
    <mat-card-header class="gamer-name" style="background-color: #C40D3B;">
        <span>Kay</span>
    </mat-card-header>

    <mat-card-content style="margin: 10% auto;">
        <span id="answer-feedback">
            Timeout
        </span>

        <div class="timeout">
            <i class="fas fa-hourglass-end fa-8x"></i>
        </div>

        <div class="valid-answer" style="margin: 10% 0px 0px 0px;">
            <div>
                <span>Correct Answer</span>
            </div>
            
            <div style="margin: 5% 0px 0px 0px;">
                <span>11</span>
            </div>
        </div>

        <mat-card-header class="total-score" style="background-color: #C40D3B; margin: 20% 0px 0px 0px;">
            <span id="total-score">Total Score</span>
            <span id="total-score-point">0</span>
        </mat-card-header>

    </mat-card-content>

   
</mat-card>