<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
</head>

<mat-card class="answer-card">
    <mat-card-header class="gamer-name">
        <p>Kay</p>
    </mat-card-header>

    <mat-card-content>
        <p id="answer-feedback">
            Correct
        </p>

        <div class="correct">
            <i class="fas fa-check fa-8x"></i>
        </div>

        <mat-card-header style="width: 150px;" class="points">
            <p id="points-value">
                + 1000
            </p>
        </mat-card-header>

    </mat-card-content>

   
</mat-card>